{% extends "_layouts/cp" %}
{% set title = "Build Site" %}

{% block content %}
    <div class="p-4">
        <form method="post" action="{{ url('buildsite/fire') }}">
            {{ csrfInput() }}
            <button class="btn submit">Build now</button>
        </form>
    </div>
{% endblock %}
